@import url(style-header.css);

body {
  margin: 0;
  padding: 0;
  background-color: #061196;
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

div {
  border: 2px solid #6d7de9;
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
}

/* Preisstufen */
#preisStufenBox div {
  margin: 0;
  padding: 0;

  border: none;
  color: orange;
  font-size: 1.3em;
  font-weight: 800;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 90vw;
  height: 95vh;
  margin: auto;
  border: 2px solid #6d7de9;
  color: #fff;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

#weitererContent {
  display: flex;
  justify-content: center;
  background: #061193;
}

.contentUndPreisleiter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#antwortenWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
  #antwortenWrapper {
    grid-template-columns: 1fr;
  }

  .contentUndPreisleiter {
    grid-template-columns: 1fr;
  }
}

.logo {
  max-width: 100%;
}
